header{
  width: 100%;
  background-color: white;
  z-index: 1; 
  position: fixed; 
  top: 0; 
}
body {
  font-family: Arial, Helvetica, sans-serif;
 
  
}
main{
  margin-top: 100%;
  width: 800px;
  margin: auto;
  margin-bottom: 100px;
}
article {
  margin-top: 100px; 
  padding: 20px;
}

footer {
  background-color: #555; 
  height: 40px;
}


#oltas1, #oltas2, #oltas0{
  background-color: rgb(247, 170, 136);
  padding: 20px;
  font-weight: bolder;
  border-radius: 30px;
  text-align: center;
}
span {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: 20px;
  padding: 10px;
}
#emlékeztető{
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

li {
  list-style-type: none;
}

.meret{
  width: 350px;
  float: left;
  margin: 10px;
}

#gombM{
  width: 100px;
}


@media screen and (max-width: 650px) {
  body{
    background-color: lightblue;
    
  }

  .meret{
    height: 50px;
    width: 60px;
    float: left;
    padding: 12px;
  }
  
  #gombM{
    height: 50px;
    width: 50px;
    float: left;
    margin: 10px;
  }

  main {
    margin:auto;
    width: 400px;
  }

  main{
    width: 500px;
  }
}
