body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
  width: 500px;
  margin: auto;
}

.oltas{
  padding: 10px;
  font-weight: bolder;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  text-align: center;
}
span {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: 20px;
  padding: 10px;
}
#emlékeztető{
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

li {
  list-style-type: none;
}

@media screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    width: 400px;
    margin: auto;
  }
}
