body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url();
 
  
}
main{
  width: 800px;
  margin: auto;
}
span {
  border-top-left-radius: 5px;
  background-color: white;
  text-align: center;
  border-start-end-radius: 5px;
  padding: 5px;
}
button {
  border-top-left-radius: 0px;
}

li {
  list-style-type: none;
}

#meret{
  width: 350px;
  float: left;
  margin: 10px;
}

#gombM{
  width: 100px;
}


@media screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    width: 400px;
    margin: auto;
    padding: 15px;
  }

  #meret{
    width: 150px;
    float: left;
  }
  
  #gombM{
    width: 70px;
  }
}
